* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h5 {
  font-weight: normal;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
pre {
  font-family: 'Fira Code Retina', monospace, Consolas;
}
$padding: 16px;
$main-color: #2196f3;
$border-color: #eee;
.site-page {
  min-height: 100vh;
}

.site-aside {
  border-right: 1px solid $border-color;
  margin-right: 0;
  h2 {
    padding: $padding;
    font-size: 18px;
  }
  ul {
    min-width: 12em;
    > li {
      a {
        color: #333;
        padding: 8px $padding;
        display: block;
        &:hover {
          color: $main-color;
          background:#e9ecef;
        }
        &.active {
          color: white;
          font-weight:700;
          // background: desaturate($main-color, 60%);
          background-color: $main-color;
        }

      }
    }
  }
}
.site-footer {
  text-align: center;
  font-size: 12px;
  color: #666;
  padding: 16px 0;
  border-top: 1px solid $border-color;
}
.prism-code {
  border-left: 10px solid #dee2e6 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  margin: 1em 0;
  font-size: 14px;
  background-color: #fff !important;
  > .token-line {
    margin-left: 10px;
  }
}
